<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ixan.boot.mapper.AccountMapper" >
    <select id="findAll" resultType="com.ixan.boot.domain.Account">
        select * from site_account
    </select>
</mapper>