<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ixan.boot.mapper.HolidayMapper">

    <select id="findHoliday" resultType="java.lang.Integer">
        select count(*)
        from holiday as t1
        where t1.holiday &gt;= #{startTime}
          and t1.holiday &lt;= #{endTime}
    </select>
</mapper>