<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title th:text="${userModel.title}"></title>
    <!--引入外部的css文件-->
    <link rel="stylesheet" href="./css/index.css" />
    <!--引入外部的js文件-->
    <script type="text/javascript" src="./js/index.js" ></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>
<div th:text="${userModel.title}"></div>
<div>
    <a href="/search/users/form">添加用户</a>
</div>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>名字</td>
        <td>电话</td>
        <td>性别</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userModel.userList.size()} eq 0">
        <td colspan="3">没有用户信息!</td>
    </tr>
    <tr th:each="user : ${userModel.userList}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.phone}"></td>
        <td th:text="${user.sex}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>