<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ixan.search.mapper.ShakespeareMapper" >
    <select id="findAll" resultType="cn.ixan.search.domain.Shakespeare">
        SELECT * FROM shakespeare
    </select>
    <select id="simpleQuery" resultType="cn.ixan.search.domain.Shakespeare">
        SELECT * FROM shakespeare LIMIT #{from},#{scrollSize}
    </select>

    <select id="total" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM shakespeare
    </select>

    <insert id="addBatch">
        <foreach collection="list" item="s" separator=";">
            INSERT INTO shakespeare(type,line_id,play_name,speech_number,line_number,speaker,text_entry)
            VALUES
            (#{s.type},#{s.line_id},#{s.play_name},#{s.speech_number},#{s.line_number},#{s.speaker},#{s.text_entry})
        </foreach>
    </insert>

    <insert id="save" parameterType="cn.ixan.search.domain.Shakespeare">
        INSERT INTO shakespeare(type,line_id,play_name,speech_number,line_number,speaker,text_entry)
        VALUES (#{type},#{line_id},#{play_name},#{speech_number},#{line_number},#{speaker},#{text_entry})
    </insert>
</mapper>